.landmarks .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #e9e9e9;
    margin: 50px auto;
    padding: 10px;
}

.landmarks .header p {
    padding: 10px;
}

.landmarks .header a {
    display: inline-block;
}

.landmarks .header a:hover img,
.landmarks .header a:focus img {
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.7));
}

.landmarks .header p.logo {
    width: 100%;
}

.landmarks .header p.search {
    width: auto;
}

.landmarks .nav li {
    display: inline-block;
}

.landmarks .nav li a {
    padding: 10px 20px;
    border: 1px solid #8451a1;
}

.landmarks .main-wrapper {
    max-width: 1280px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 auto;
}

.landmarks .main {
    width: 70%;
    flex-grow: 1;
}

.landmarks .aside {
    box-sizing: border-box;
    width: 25%;
    margin-left: 5%;
    padding-left: 5%;
    border-left: 1px solid black;
}

.landmarks .footer {
    border-top: 1px solid black;
    padding: 50px 0;
    text-align: center;
}

@media (max-width:768px) {
    .landmarks .header,
    .landmarks .main-wrapper,
    .landmarks .main,
    .landmarks .aside {
        max-width: none;
        width: 100%;
        display: block;
        border: none;
        margin: 0;
    }
    .landmarks .header p {
        text-align: center;
    }
}
