/* General */
[role="link"] {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

[role="link"]:hover {
    color: #0056b3;
    text-decoration: underline;
}

[role="link"],
[role="button"] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}

span[role="link"],
span[role="button"] {
    display: inline-block;
}

[role="link"] {
    color: #333;
    text-decoration: underline;
}

[role="link"]:focus, [role="link"]:hover, [role="link"]:active {
    color: #0d0d0d;
    text-decoration: underline;
}

[role="link"]:focus, [role="button"]:focus, [role="checkbox"]:focus, [role="radio"]:focus {
    box-shadow: 0 0 6px 0 #1e90ff;
    outline-color: rgba(30, 144, 255, 0.5);
    outline-offset: 0;
}

.btn--primary:active, .btn--primary:focus, .btn--primary:hover,
.button--primary:active,
.button--primary:focus,
.button--primary:hover {
    color: #fff;
    text-decoration: none;
}

/* Form elements */

[role="checkbox"],
[role="radio"] {
    display: inline-block;
    border: 2px solid black;
}

.checkbox.checked {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%208%208%22%20enable-background%3D%22new%200%200%208%208%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M6.4%2C1L5.7%2C1.7L2.9%2C4.5L2.1%2C3.7L1.4%2C3L0%2C4.4l0.7%2C0.7l1.5%2C1.5l0.7%2C0.7l0.7-0.7l3.5-3.5l0.7-0.7L6.4%2C1L6.4%2C1z%22%20%2F%3E%0A%3C%2Fsvg%3E");
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
}

.radio.checked {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%22100%22%20height%3D%22100%22%0AviewBox%3D%220%200%2080%2080%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2240%22%20cy%3D%2240%22%20r%3D%2224%22%20style%3D%22fill%3A%23333333%22/%3E%3C/svg%3E");
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

progress,
.progress {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width: 50%;
    min-height: 28px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
.progress {
    height: 18px;
}
progress::-moz-progress-bar,
progress::-webkit-progress-value {
    background: #8451a1;
}
.progress [role="progressbar"] {
    height: 100%;
    background: #8451a1;
}

/* Landmarks */
.landmarks .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #e9e9e9;
    margin: 50px auto;
    padding: 10px;
}

.landmarks .header p {
    padding: 10px;
}

.landmarks .header a {
    display: inline-block;
}

.landmarks .header a:hover img,
.landmarks .header a:focus img {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7));
}

.landmarks .header p.logo {
    width: 100%;
}

.landmarks .header p.search {
    width: auto;
}

.landmarks .nav li {
    display: inline-block;
}

.landmarks .nav li a {
    padding: 10px 20px;
    border: 1px solid #8451a1;
}

.landmarks .main-wrapper {
    max-width: 1280px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 auto;
}

.landmarks .main {
    width: 70%;
    flex-grow: 1;
}

.landmarks .aside {
    box-sizing: border-box;
    width: 25%;
    margin-left: 5%;
    padding-left: 5%;
    border-left: 1px solid black;
}

.landmarks .footer {
    border-top: 1px solid black;
    padding: 50px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .landmarks .header,
    .landmarks .main-wrapper,
    .landmarks .main,
    .landmarks .aside {
        max-width: none;
        width: 100%;
        display: block;
        border: none;
        margin: 0;
    }

    .landmarks .header p {
        text-align: center;
    }
}
