body {
    margin: 2rem;
}

html {
    font-size: 62.5%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hidden {
    display: none;
}

button, a.button, span[tabindex] {
    border: 1px solid #8451a1;
    background: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease 0.3s;
}
button:hover,
button:focus,
a.button:hover,
a.button:focus,
span[tabindex]:hover,
span[tabindex]:focus {
    background: #8451a1;
    color: white;
}

button:disabled {
    border: 1px solid grey;
}

button:disabled:hover,
button:disabled:focus {
    background: none;
    color: grey;
    cursor: inherit;
}

label {
    cursor: pointer;
}

.demo {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;
    margin: 5px 0;
}

.demo h2, .demo h2 a {
    font-size: 28px;
    color: black;
    border: none;
}

.demo.-composite a {
    display: block;
}

.demo.-composite h2 {
    margin-top: 0;
}

.demo.-visibilite-lien a {
    text-decoration: none;
}

.demo .link-forced {
    color: #460561;
    text-decoration: none;
}
.demo .link-forced:hover, .demo .link-forced:focus {
    text-decoration: underline;
}

.composite-link-wrapper {
    position: relative;
}
.composite-link-wrapper a:not(.composite-link) {
    position: relative;
    z-index: 2;
}
.composite-link-wrapper .composite-link::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.menu > li, .menu > span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.menu > li.active a {
    color: black;
}
.menu:not(.-bad) > li.active a, .menu > span {
    border: 1px solid black;
    border-radius: 5px;
}
.menu a {
    display: block;
    padding: 10px;
}

.menu > span {
    padding: 10px;
}

.img-small {
    width: 200px;
    display: block;
}

.img-left {
    display: block;
    float: left;
    margin: 0 15px 15px 0;
}

/* Modal */

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

/* Ce contenu vous a t-il été utile */
#ccvaeu-text {
    display: none;
}
.ccvaeu-wrap {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}
.ccvaeu-wrap legend {
    font-weight: bold;
}
.ccvaeu-field-wrap {
    display: inline-block;
    vertical-align: middle;
}

/* Form */

.field-wrap {
    margin: 10px 0;
}

.field-wrap label {
    display: block;
}
.required-mention {
    color: #BE0000;
}
.error-message {
    color: #BE0000;
    margin: 0;
}

/* Chat */
.canal {
    border: 1px solid grey;
    width: 300px;
    height: 160px;
    overflow-x: auto;
    padding: 10px;
}