body {
    margin: 2rem;
}

html {
    font-size: 62.5%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hidden {
    display: none;
}

.demo {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;
    margin: 5px 0;
}

.demo h2, .demo h2 a {
    font-size: 28px;
    color: black;
    border: none;
}

.demo.-composite a {
    display: block;
}

.demo.-composite h2 {
    margin-top: 0;
}

.demo.-visibilite-lien a {
    text-decoration: none;
}

.demo .link-forced {
    color: #460561;
    text-decoration: none;
}
.demo .link-forced:hover, .demo .link-forced:focus {
    text-decoration: underline;
}

.composite-link-wrapper {
    position: relative;
}
.composite-link-wrapper a:not(.composite-link) {
    position: relative;
    z-index: 2;
}
.composite-link-wrapper .composite-link::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.menu > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.menu > li.active a {
    color: black;
}
.menu:not(.-bad) > li.active a {
    border: 1px solid black;
    border-radius: 5px;
}
.menu a {
    display: block;
    padding: 10px;
}

.img-small {
    width: 200px;
    display: block;
}

.img-left {
    display: block;
    float: left;
    margin: 0 15px 15px 0;
}

/* Modal */

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}